*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;

}
.opt{
    
    display: flex;
    margin: 10px;
    padding: 20px 100px 20px 100px;
border-radius: 10px;
border: 3px ridge lightgrey;

}
#btn{
    padding: 10px 160px 10px 160px;
    font-size: 20px;
    color: white;
    border-style: none;

    background-color: #1877f2;
}
.base{
    background-color: white;
    padding:10px 5px 10px 50px;
    margin: 10em 10em 20em 45em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    border-style: none;

}
#btn1{
    padding: 10px 80px 10px 80px;
    font-size: 20px;
    color: white;
    background-color: #0b8a00;
    border-style: none;
}
#CN{
   
    border-style: hidden;
}
.fb{
    padding:10px 50px 10px 5px;
    margin: 10em 40em 20em 10em;
    font-size: 20px;
    
}
.fb h1{
    color: rgb(0, 94, 172);
}
